<mat-tab-group mat-stretch-tabs>
  <mat-tab *ngFor="let group of groupedRoleClaims | keyvalue">
    <ng-template mat-tab-label>
      {{ group.key }} ({{ group.value.filter(c => c.selected).length }}/{{ group.value.length }})
    </ng-template>

    <mat-table [dataSource]="group.value" class="mat-elevation-z8">
      <!-- Columns definitions... -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
      </ng-container>
      <!-- Add other columns similar to the above -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
  </mat-tab>
</mat-tab-group>
