.register-dialog {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  padding: 20px
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap:10px
}
